.people {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 731px;
    width: 100%;
    color: #000000  ;
}

.people-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 60px;
    height: 431px;
}

.people-one {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 350px;
}

.people-line {
    height: 4px;
    background: linear-gradient(90deg, #FFAC12 0%, #000000 94.96%);
}

.people-text {
    height: 186px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 600;
}

.people-two, .client {
    display: flex;
}

.people-black {
    background: #000000;
    color: white;
}

.client {
    align-items: center;
    margin-left: 40px;
    width: 336px;
    height: 141px;
    gap: 20px;
}

.client-name {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 15px;
}

.h {
    font-weight: 600;
}

.c {
    color: rgba(151, 151, 151, 1);
}

